
<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navbar %>
    <% include partials/product-form %>
    <% include partials/scripts %>
  </body>
</html>